body {
    background-color: rgb(142, 148, 95);
    color: white;
}
div {
    font-size: 20px;
    height: 350px;
    background: white;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 8px 8px 8px black;
}
h1 {
    padding: 10px;
    color: black;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    
}
img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}
